.profileMain {
  margin-top: 6% !important;
}

.contain {
  position: relative;
}

.photo {
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.contain:hover .photo {
  opacity: 0.3;
}

.contain:hover .middle {
  opacity: 1;
}
